<div class="mt-4">
    <div>
        <h3>Khóa học của tôi</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên khóa học</th>
                    <th scope="col">trình độ</th>
                    <th scope="col">Thời gian tạo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Fist</td>
                    <td>Fist</td>
                    <td>Fist</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>